name: mhf_log_shield
description: "Android log forwarder for Wazuh"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.10.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # Remove sqflite for now
  # sqflite: ^2.3.0
  # path: ^1.9.0

  # Keep shared_preferences for settings
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true